{% extends 'dashboard_base.html' %}
{% load static %}




{% block style %}
<style>
    .asterisks {
        color: red;
    }
</style>

{% endblock %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"><strong>Admin</strong> Reset Users' Password</h1>

        <!-- Form for Support Submission -->
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Set Passwords</h5>
                        <form id="supportForm">
                            {% csrf_token %}


                            <div class="mb-3">
                                <label for="email" class="form-label">Select any user you wish to change their
                                    password<span class="asterisks">*</span>
                                </label>
                                <select id="email" name="email" class="form-select" required
                                    aria-label="Default select example" required>
                                    {% for user in all_users %}
                                    <option value="{{user.email}}">
                                        {{user.email}} -- {{user.first_name}} {{user.last_name}}
                                    </option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password<span
                                        class="asterisks">*</span></label>
                                <input type="text" class="form-control" id="password" name="password"
                                    placeholder="Enter the password" required>
                            </div>





                            <button type="button" class="btn btn-primary" id="submitBtn">Update User Password</button>
                            <span id="loadingText" style="display: none;">Sending...</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal for Success Confirmation -->
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5">
                    </div>
                    <div class="modal-footer">
                        <button id="closeModal" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
{% block script %}
<script>

    const clearInput = function () {
        document.getElementById('password').value = "";
    }

    const modalBody = document.querySelector(".modal-body");


    document.getElementById('submitBtn').addEventListener('click', async () => {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        if (!email) {
            modalBody.innerText = "Email is required";
            modalBody.setAttribute("class", "p-2 text-danger");
            new bootstrap.Modal(document.getElementById('successModal')).show();
            return;
        }
        if (!password) {
            modalBody.innerText = "Password is required";
            modalBody.setAttribute("class", "p-2 text-danger");

            new bootstrap.Modal(document.getElementById('successModal')).show();
            return;
        }

        const loadingText = document.getElementById('loadingText');
        const csrfToken = '{{ csrf_token }}';

        loadingText.style.display = 'inline';

        // Construct form data
        const formData = new FormData();
        formData.append('email', email);
        formData.append('password', password);


        fetch("{% url 'api_admin_reset_user_password' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: formData
        }).then((res) => res.json())
            .then((data) => {
                loadingText.style.display = 'none';
                modalBody.innerText = data.message;
                modalBody.setAttribute("class", "p-2");
                new bootstrap.Modal(document.getElementById('successModal')).show();

            }).catch((error) => {
                console.log(error);
            }).finally(() => {
                loadingText.style.display = 'none';
            });


    })

</script>

{% endblock %}